{% extends 'SeerUKBaseBaseBundle:Base:master.html.twig' %}

{% block body_content %}

<div class="span9">
	<div class="content-row">
		<div class="content-col">
			<h2>Hey, thanks for stopping by!<br /><small>I'm Elliot Wright, a PHP web developer.</small></h2>
			<p>I like to work on a lot of things, if you want to see pretty much everything I'm working on (publically) at the moment, check out the 'Recent Activity' feed to the right!</p>
			<p>The major projects I'm working on at the moment you can find described in a bit more detail by <span class="hidden-phone">checking out the box below, or </span>looking at my <a href="#">portfolio page</a>.</p>
			<img src="{{ asset('static/images/sublime.jpg') }}" alt="" />
		</div>
		<div class="content-col">
			{{ recentActivity | raw }}
		</div>
	</div>
</div>

{% endblock %}
